<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phil.aic.dao.DepartmentMapper" >
  <resultMap id="BaseResultMap" type="com.phil.aic.bean.Department" >
    <id column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
  </resultMap>
  <resultMap type="com.phil.aic.bean.Department" id="DeptUserResultMap">
  <id column="dept_id" property="deptId" jdbcType="INTEGER" />
    <result column="dept_name" property="deptName" jdbcType="VARCHAR" />
         <!-- ofType指定students集合中的对象类型 -->
         <collection property="accounts" ofType="com.phil.aic.bean.Account">
             <id column="account_id" jdbcType="VARCHAR" property="accountId" />
		    <result column="password" jdbcType="VARCHAR" property="password" />
		    <result column="dept_id" jdbcType="INTEGER" property="deptId" />
		    <result column="is_leader" jdbcType="INTEGER" property="isLeader" />
		    <result column="tel" jdbcType="VARCHAR" property="tel" />
		    <result column="account_name" jdbcType="VARCHAR" property="accountName" />
         </collection>
     </resultMap>
  <sql id="Base_Column_List" >
    dept_id, dept_name
  </sql>
  
  <select id="selectDepartmentUser" resultMap="DeptUserResultMap">
    <!--
    select 
    department.dept_id, dept_name,account_id,account_name,tel,password,is_leader
    from department,account
    where department.dept_id = account.dept_id
    -->
    select 
    department.dept_id, dept_name,account_id,account_name,tel,password,is_leader
    from department  left join account
    on department.dept_id = account.dept_id
  </select>
  
  <select id="selectDepartment" resultMap="BaseResultMap">
    select 
    <include refid="Base_Column_List" />
    from department
  </select>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from department
    where dept_id = #{deptId,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from department
    where dept_id = #{deptId,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.phil.aic.bean.Department" >
    insert into department (dept_id, dept_name)
    values (#{deptId,jdbcType=INTEGER}, #{deptName,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.phil.aic.bean.Department" >
    insert into department
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="deptId != null" >
        dept_id,
      </if>
      <if test="deptName != null" >
        dept_name,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="deptId != null" >
        #{deptId,jdbcType=INTEGER},
      </if>
      <if test="deptName != null" >
        #{deptName,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phil.aic.bean.Department" >
    update department
    <set >
      <if test="deptName != null" >
        dept_name = #{deptName,jdbcType=VARCHAR},
      </if>
    </set>
    where dept_id = #{deptId,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phil.aic.bean.Department" >
    update department
    set dept_name = #{deptName,jdbcType=VARCHAR}
    where dept_id = #{deptId,jdbcType=INTEGER}
  </update>
</mapper>