<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.phil.aic.dao.ScheduleMapper" >
  <resultMap id="BaseResultMap" type="com.phil.aic.bean.Schedule" >
    <id column="schedule_id" property="scheduleId" jdbcType="VARCHAR" />
    <result column="case_id" property="caseId" jdbcType="VARCHAR" />
    <result column="sender" property="sender" jdbcType="VARCHAR" />
    <result column="send_time" property="sendTime" jdbcType="TIMESTAMP" />
    <result column="status" property="status" jdbcType="VARCHAR" />
    <result column="reciver" property="reciver" jdbcType="VARCHAR" />
    <result column="remark" property="remark" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    schedule_id, case_id, sender, send_time, status, reciver, remark
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.String" >
    select 
    <include refid="Base_Column_List" />
    from schedule
    where schedule_id = #{scheduleId,jdbcType=VARCHAR}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.String" >
    delete from schedule
    where schedule_id = #{scheduleId,jdbcType=VARCHAR}
  </delete>
  <insert id="insert" parameterType="com.phil.aic.bean.Schedule" >
    insert into schedule (schedule_id, case_id, sender, 
      send_time, status, reciver, 
      remark)
    values (#{scheduleId,jdbcType=VARCHAR}, #{caseId,jdbcType=VARCHAR}, #{sender,jdbcType=VARCHAR}, 
      #{sendTime,jdbcType=TIMESTAMP}, #{status,jdbcType=VARCHAR}, #{reciver,jdbcType=VARCHAR}, 
      #{remark,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.phil.aic.bean.Schedule" >
    insert into schedule
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="scheduleId != null" >
        schedule_id,
      </if>
      <if test="caseId != null" >
        case_id,
      </if>
      <if test="sender != null" >
        sender,
      </if>
      <if test="sendTime != null" >
        send_time,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="reciver != null" >
        reciver,
      </if>
      <if test="remark != null" >
        remark,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="scheduleId != null" >
        #{scheduleId,jdbcType=VARCHAR},
      </if>
      <if test="caseId != null" >
        #{caseId,jdbcType=VARCHAR},
      </if>
      <if test="sender != null" >
        #{sender,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        #{status,jdbcType=VARCHAR},
      </if>
      <if test="reciver != null" >
        #{reciver,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        #{remark,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.phil.aic.bean.Schedule" >
    update schedule
    <set >
      <if test="caseId != null" >
        case_id = #{caseId,jdbcType=VARCHAR},
      </if>
      <if test="sender != null" >
        sender = #{sender,jdbcType=VARCHAR},
      </if>
      <if test="sendTime != null" >
        send_time = #{sendTime,jdbcType=TIMESTAMP},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=VARCHAR},
      </if>
      <if test="reciver != null" >
        reciver = #{reciver,jdbcType=VARCHAR},
      </if>
      <if test="remark != null" >
        remark = #{remark,jdbcType=VARCHAR},
      </if>
    </set>
    where schedule_id = #{scheduleId,jdbcType=VARCHAR}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.phil.aic.bean.Schedule" >
    update schedule
    set case_id = #{caseId,jdbcType=VARCHAR},
      sender = #{sender,jdbcType=VARCHAR},
      send_time = #{sendTime,jdbcType=TIMESTAMP},
      status = #{status,jdbcType=VARCHAR},
      reciver = #{reciver,jdbcType=VARCHAR},
      remark = #{remark,jdbcType=VARCHAR}
    where schedule_id = #{scheduleId,jdbcType=VARCHAR}
  </update>
</mapper>